body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: dodgerblue;
    overflow: hidden;
}

.gallery {
    display: grid;
    width: 160px;
    transform-style: preserve-3d;
    --_t: perspective(280px) rotateX(-90deg);
    animation: r 12s cubic-bezier(0.5, -0.2, 0.5, 1.2) infinite;
}

@keyframes r {
    0%, 3% {
        transform: var(--_t) rotate(0deg);
    }
    14.66%, 19.66% {
        transform: var(--_t) rotate(-60deg);
    }
    31.33%, 36.33% {
        transform: var(--_t) rotate(-120deg);
    }
    48%, 53% {
        transform: var(--_t) rotate(-180deg);
    }
    64.66%, 69.66% {
        transform: var(--_t) rotate(-240deg);
    }
    81.33%, 86.33% {
        transform: var(--_t) rotate(-300deg);
    }
    98%, 100% {
        transform: var(--_t) rotate(-360deg);
    }

}

.gallery > img {
    grid-area: 1/1;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}
.gallery > img:nth-child(1) {
    transform: rotate(0deg) translateY(86.60) rotateX(90deg);
}
.gallery > img:nth-child(2) {
    transform: rotate(60deg) translateY(86.60) rotateX(90deg);
}
.gallery > img:nth-child(3) {
    transform: rotate(120deg) translateY(86.60) rotateX(90deg);
}
.gallery > img:nth-child(4) {
    transform: rotate(180deg) translateY(86.60) rotateX(90deg);
}
.gallery > img:nth-child(5) {
    transform: rotate(240deg) translateY(86.60) rotateX(90deg);
}
.gallery > img:nth-child(6) {
    transform: rotate(300deg) translateY(86.60) rotateX(90deg);
}